<!-- Unit Form -->
<div *ngFor="let unit of UnitData">
    <form action="">
        <div>
            <input name="title" id="unit.title" type="text">
            <label for="title"></label>
        </div>
        <div>
            <input name="subtitle" id="unit.subtitle" type="text">
            <label for="subtitle"></label>
        </div>
        <div>
            <input name="category" id="unit.category" type="text">
            <label for="title"></label>
        </div>
        <div>
            <input name="accomodation_information" id="unit.accomodation_information" type="text">
            <label for="accomodation_information"></label>
        </div>
        <div>
            <input name="price_information" id="unit.price_information" type="text">
            <label for="price_information"></label>
        </div>
        <div>
            <input name="number_of_bathrooms" id="unit.number_of_bathrooms" type="text">
            <label for="number_of_bathrooms"></label>
        </div>
        <div>
            <input name="number_of_bedrooms" id="unit.number_of_bedrooms" type="text">
            <label for="number_of_bedrooms"></label>
        </div>
        <div>
            <input name="is_booked" id="unit.is_booked" type="checkbox">
            <label for="is_booked"></label>
        </div>
    </form>
</div>