<div class="form-wrapper">
    <form [formGroup]="form_validation" (ngSubmit)="editLocation()" class="styled-form">
      <div class="form-group">
        <label for="city">City</label>
        <input id="city" value="{{city}}" formControlName="city" class="form-control" />
      </div>
      <div class="form-group">
        <label for="state">State</label>
        <input id="state" value="{{state}}" formControlName="state" class="form-control" />
      </div>
      <div class="form-group">
        <label for="country">Country</label>
        <input id="country" value="{{country}}" formControlName="country" class="form-control" />
      </div>
      <button type="submit" class="submit-button">Edit</button>
    </form>
  </div>
  